
.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: linear-gradient(rgba(26,35,126,0.85), rgba(57,73,171,0.85)),
              url("https://images.unsplash.com/photo-1521737604893-d14cc237f11d");

  background-size: cover;
  background-position: center;
  color: white;
  padding: 20px;
}

.hero h1 {
  font-size: 52px;
}

.hero p {
  font-size: 18px;
  margin: 15px 0;
}

.btn {
  background: #ffca28;
  padding: 12px 25px;
  border-radius: 25px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.id-card {
  width: 340px;
  height: 200px;
  margin: 20px auto;
  background: linear-gradient(135deg, #0d47a1, #1976d2);
  color: white;
  border-radius: 12px;
  padding: 15px;
  position: relative;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  font-family: Arial;
}

/* HEADER */
.id-header {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}

/* PHOTO */
.id-photo {
  width: 70px;
  height: 70px;
  border-radius: 8px;
  object-fit: cover;
  border: 2px solid white;
  position: absolute;
  top: 40px;
  right: 15px;
}

/* DETAILS */
.id-details {
  margin-top: 15px;
  font-size: 13px;
  line-height: 1.6;
}

/* ID NUMBER */
.id-number {
  margin-top: 10px;
  font-weight: bold;
}

/* QR BOX (optional space) */
.qr-box {
  width: 60px;
  height: 60px;
  background: white;
  position: absolute;
  bottom: 15px;
  right: 15px;
  border-radius: 5px;
}
